<% const {name, description, _id, size, color, price, stock, img} = item; %>

<div class="col-4 px-5 py-4">
    <div class="card">
        <img src="<%= img %>" class="card-img-top" alt="product image">
        <div class="card-body">
            <h5 class="card-title"><%= name %></h5>
            <h6 class="card-subtitle text-muted mb-3"><%= price %> RON</h6>
            <p class="card-text mb-2"><%= description %></p>
            <p class="card-text">Culori: <%= color.join(", ") %></p>

            <div class="text-center">
                <% if(locals.toBeAdded){ %>
                    <form action="/products/category/add?_method=POST" method="POST" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="cat" value=<%= toBeAdded %> >
                        <input type="hidden" name="id" value=<%= _id %> > 
                        <button class="btn btn-dark">Adauga in categorie</button>
                    </form>
                <% } else if(locals.category) { %>
                    <a href="/cart" class="btn btn-dark">Adauga in cos <i class="fa-solid fa-cart-shopping"></i></a>
                    <a href=<%= "/products?id=" + _id %> class="btn btn-dark">Vezi produs</a>
                    <form action="/products/category/add?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="cat" value=<%= category %>>
                        <input type="hidden" name="id" value=<%= _id %>>
                        <button class="btn btn-danger">Sterge din categorie</button>
                    </form>
                <% } else{ %>
                    <a href="/cart" class="btn btn-dark">Adauga in cos <i class="fa-solid fa-cart-shopping"></i></a>
                    <a href=<%= "/products?id=" + _id %> class="btn btn-dark">Vezi produs</a>
                <% } %>
            </div>

        </div>
    </div>
</div>