<%- include('../partials/header.ejs', {title: "Rocsa's Crochet Store", categories}); -%>

    <h1 class="display-2 text-center py-4"><%= heading %></h1>

    <div class="row">
        <% products.forEach((value)=>{ %>
            <%- include('../partials/product-card.ejs', {item: value, category: locals.category}) -%>
        <% }) %>
    </div>

    <% if(locals.category){ %>
        <div class="p-4 text-center">
            <a class="btn btn-dark btn-lg" href=<%= "javascript:window.location.href='/products/add-product-to-cat?cat=" + category + "'" %>>Adauga produse</a>
            <a class="btn btn-danger btn-lg" href=<%= "javascript:fetch('http://localhost:3000/products?cat=" + category + "',{method:'DELETE'}).then(window.location.href='/products');" %> >Sterge categoria</a>
        </div>
    <% } %>

<%- include('../partials/footer.ejs'); -%>
