<%- include('../partials/header.ejs', {title: "Rocsa's Crochet Store", categories}); -%>

    <h1 class="display-2 text-center py-4"><%= heading %></h1>

    <div class="row">
        <% products.forEach((value)=>{ %>
            <%- include('../partials/product-card.ejs', {item: value, category: locals.category}) -%>
        <% }) %>
    </div>

    <div class="p-4 text-center">
        <% if(locals.category){ %>
            <a class="btn btn-dark btn-lg" href=<%= "/products/category/add?cat=" + category %>>Adauga produse</a>

            <form action="/products/category?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="cat" value=<%= category %> >
                <button type="submit" class="btn btn-danger btn-lg">Sterge categoria</button>
            </form>
            <% } else { %>
            <a href=<%= "/products/add" %> class="btn btn-dark btn-lg">Adauga un produs nou</a>
        <% } %>
    </div>

<%- include('../partials/footer.ejs'); -%>
